$theme-name: 'Darkblue';

// sidebar
$menuText:#bfcbd9;
$menuActiveText:rgba(255,255,255,1);
$MenuActive:#1890ff;
$subMenuActiveText:rgba(255, 255, 255,1); // https://github.com/ElemeFE/element/issues/12951
$logoBg:rgba(0, 33, 64,1);
$logoText:rgb(255, 255, 255);
$headerBg:rgb(255, 255, 255);
$headerText:rgb(90, 94, 102);
$menuBg:rgba(3,21,42,1);
$menuHover:none;
$menuHoverText:#fff;
$subMenuBg:rgba(0, 12, 23,1);
$subMenuHover: none;
$subMenuHoverText: #fff;
$mainBg: rgba(240, 242, 245,1);
$sideBarWidth: 256px;

// the :export directive is the magic sauce for webpack
// https://www.bluematador.com/blog/how-to-share-variables-between-js-and-sass
:export {
  menuText: $menuText;
  menuActiveText: $menuActiveText;
  MenuActive:$MenuActive;
  subMenuActiveText: $subMenuActiveText;
  menuBg: $menuBg;
  logoBg:$logoBg;
  logoText:$logoText;
  headerBg:$headerBg;
  headerText:$headerText;
  menuHover: $menuHover;
  menuHoverText: $menuHoverText;
  subMenuBg: $subMenuBg;
  subMenuHover: $subMenuHover;
  subMenuHoverText:$subMenuHoverText;
  mainBg:$mainBg;
  sideBarWidth: $sideBarWidth;
}
